* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#full_stack_conteiner {
    display: flex;
    max-width: 1440px;
    width: 100%;
}


/* left_nav_conteineeeeeer */

#left_nav_conteiner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 296px;
    min-height: 1134px;
    background: #14171F;
}

#main_conteiner {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    gap: 32px;
    background: #FFF;

}



main {
    display: flex;
    flex-direction: column;
    gap: 32px;
}



#left_nav_top_box {
    display: flex;
    flex-direction: column;
    gap: 48px;
    padding: 24px;

}

.logo_style {
    display: flex;
    align-items: center;
    color: #FFF;
    gap: 12px;
    padding: 0px 16px 16px 16px;
    font-size: 24px;
    font-weight: 800;
    max-width: 248px;
    height: 64px;
    border-bottom: 1px solid #3D414B;
}


#avatar_box {
    display: flex;
    align-items: center;
    max-width: 248px;
    height: 70px;
    justify-content: space-between;
    border-top: 1px solid #7D70BD;
    border-bottom: 1px solid #7D70BD;
    padding: 0px 12px 0px 12px;
}


#avatar_text_box {
    display: flex;
    flex-direction: column;
}



#avatar_img_text {
    display: flex;
    gap: 8px;
    align-items: center;
}




#avatar_name {
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
}




#avatar_status {
    color: #929699;
    font-size: 14px;
    font-weight: 400;
}


#avatar_icon {
    display: flex;
    width: 24px;
    height: 24px;
}


.manu_conteiner {
    display: inline-flex;
    flex-direction: column;
    max-width: 137px;
    height: 288px;
}


.li_style {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 12px;
}

.ul_style {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.li_span_style {
    color: #929699;
    font-size: 16px;
    font-weight: 400;
}


#manu_last_box {
    display: flex;
    flex-direction: column;
    padding: 32px 0px 32px 0px;
    max-width: 248px;
    height: 134px;
    border-top: 1px solid #3D414B;
    border-bottom: 1px solid #3D414B;
}


#button_box {
    display: flex;
    padding: 19px;
    justify-content: center;
}


#button_style {
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 8px;
    border: 1px solid #7B62FF;
    width: 296px;
    background: #14171F;
    height: 48px;
    color: #7B62FF;
    font-size: 16px;
    font-weight: 400;
}


/* header_conteineeeeer*/

#nav_conteiner {
    display: flex;
    width: 1080px;
    justify-content: space-between;
    align-items: center;
    height: 38px;
    margin-top: 24px;

}

#nav_ul {
    display: flex;
    list-style: none;
    gap: 24px;
    color: #2F2F2F;
    font-size: 16px;
    font-weight: 400;
}

#header_buttons {
    display: flex;
    align-items: center;
    gap: 10px;
}


#became_button {
    color: #2F2F2F;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    padding: 8px 12px;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    height: 38px;
    max-width: 144px;
    border: 1px solid #C7C7C7;
    background: #F7F7F7;
}


#my_class_button {
    display: flex;
    padding: 8px 12px;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    color: #2F2F2F;
    font-size: 14px;
    font-weight: 400;
    border: 1px solid #C7C7C7;
}

.header_icon_style {
    display: flex;
    width: 32px;
    height: 32px;
    padding: 3px;
    justify-content: center;
    align-items: center;
    border-radius: 600px;
    background: #F7F7F7;
}


#burger {
    display: none;
}

/* main_conteineeeeeer */


#img_conteiner {
    display: flex;
    background-image: url(../images/main_img.png);
    background-repeat: no-repeat;
    height: 228px;
    max-width: 1080px;
    align-items: center;
    border-radius: 16px;
    border: 1px solid #C7C7C7;
}

h1 {
    display: flex;
    color: #2F2F2F;
    font-size: 40px;
    font-weight: 600;
}

#h1_box {
    display: flex;
    max-width: 416px;
    height: 96px;
    margin-left: 40px;
}




#main_button_boxes {
    display: flex;
    gap: 16px;
}

.bytton_style {
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
    border: 1px solid #C7C7C7;
    color: #2F2F2F;
    font-size: 14px;
    font-weight: 400;
}

.black_button {
    border: 1px solid #3D414B;
    background: #14171F;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    font-size: 14px;
    color: #FFF;
}

#main_button_boxes :hover {
    background-color: #14171F;
    color: #FFF;

}


#forms_conteiner {
    display: flex;
    gap: 32px;
}


#left_conteiner {
    display: flex;
    flex-direction: column;
    max-width: 702px;
    min-height: 654px;
    gap: 32px;
}


#right_conteiner {
    display: flex;
    flex-direction: column;
    height: 654px;
    width: 100%;
    gap: 12px;
    padding: 16px;
    border-radius: 16px;
    background: #14171F;
}

#Personal_Information_box {
    display: flex;
    flex-direction: column;
    width: 702px;
    height: 352px;
    padding: 24px;
    gap: 16px;
    border-radius: 16px;
    border: 1px solid #C7C7C7;
}

#personal_info_2_boxes {
    display: flex;
    gap: 24px;
}

#left_info_box {
    display: flex;
    flex-direction: column;
    max-width: 432px;
    height: 294px;
    padding: 16px;
    border-radius: 16px;
    border: 1px solid #C7C7C7;
}

#right_info_box {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 246px;
    height: 294px;
    padding: 16px;
    border-radius: 16px;
    border: 1px solid #C7C7C7;
}


#avatar_info_box {
    display: flex;
    flex-direction: column;
    padding: 16px;
    width: 100%;
    gap: 12px;
    height: 246px;
    border-radius: 12px;
    background: #FFF;
}

#location_box {
    display: flex;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 12px;
    background: #FFF;
    gap: 8px;
    width: 100%;
    height: 120px;
}


#about_box {
    display: flex;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    border-radius: 12px;
    background: #FFF;
    height: 256px;
    width: 100%;
}

#span_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 140px;

}

#lorem_box {
    display: flex;
    padding: 12px 16px;
    align-items: center;
    gap: 10px;
    padding: 10px;
    align-self: stretch;
    border-radius: 8px;
    height: 180px;
    border: 1px solid #C7C7C7;
}


#Evergreen_box {
    display: flex;
    padding: 12px 16px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid #C7C7C7;
    background: #F9FBFC;
}

#loc_div {
    display: flex;
    justify-content: space-between;
    gap: 200px;
}


#avatar_girl {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 124px;
    height: 124px;
    flex-shrink: 0;
    background-image: url(../icon/girl_icon.png);
}


#avatar_lok {
    display: flex;
    justify-content: space-between;
}


#camera_img {
    display: flex;
    width: 32px;
    height: 32px;
    justify-content: center;
    align-items: center;
}


#pen_box {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.pen_box_style {
    display: flex;
    width: 32px;
    height: 32px;
    justify-content: space-between;
    align-items: center;
    padding: 6px;
    border-radius: 600px;
    border: 1px solid #C7C7C7;
}


#Andrio_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.andrio_button {
    display: flex;
    padding: 8px 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #2F2F2F;
    font-size: 14px;
    font-weight: 400;
    border-radius: 50px;
    border: 1px solid #C7C7C7;
}

#andrio_div {
    display: flex;
    gap: 8px;
}

#andrio_title {
    color: #2F2F2F;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
}

.form_title {
    color: #2F2F2F;
    font-size: 16px;
    font-weight: 500;
}

.forms_paragraf {
    color: #666;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

#perso_title {
    display: flex;
    justify-content: space-between;
}


form {
    display: flex;
    gap: 16px;
}

#person_text {
    display: flex;
    flex-direction: column;
}

.form_type {
    display: flex;
    flex-direction: column;
    gap: 8px;
}


.input_style {
    display: flex;
    padding: 12px 16px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    width: 320px;
    height: 48px;
    border-radius: 8px;
    border: 1px solid #C7C7C7;
    background: #F9FBFC;
}

#diferent_button {
    display: flex;
    padding: 12px 16px;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid #C7C7C7;
    background: #F9FBFC;
    width: 251px;
    height: 48px;
}


#different_butt {
    display: flex;
    gap: 6px;
}


#black_butt {
    display: flex;
    padding: 12px 16px;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid #C7C7C7;
    background: #14171F;
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
}

#dev_box {
    display: flex;
    padding: 16px;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
    border-radius: 12px;
    background: #F9FBFC;
    width: 400px;
    height: 200px;
    margin-top: 10px;

}

.span_lock {
    display: flex;
    justify-content: space-between;
}

.pen_text {
    display: flex;
    flex-direction: column;
}


.betveens_box {
    display: flex;
    justify-content: space-between;
}


.Additional_box {
    display: flex;
    padding: 12px 16px;
    align-items: center;
    border-radius: 8px;
    border: 1px solid #C7C7C7;
    background: #F9FBFC;
}

#butt_box {
    display: flex;
    gap: 8px;
}


.Additional_boxss {
    display: flex;
    padding: 12px 16px;
    align-items: center;
    width: 84px;
    border-radius: 8px;
    border: 1px solid #C7C7C7;
    background: #F9FBFC;
}


/* ___________Tablet__________  */
@media screen and (min-width: 768px) and (max-width: 1023px) {

    #nav_conteiner {
        max-width: 1023px;
        width: 100%;
    }

    #burger {
        position: fixed;
    }

    #left_nav_conteiner {
        display: none;
    }


    #full_stack_conteiner {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 768px;
        width: 100%;
        gap: 24px;
    }


    #main_conteiner {
        min-width: 704px;
        width: 100%;
    }



    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    #img_conteiner {
        align-items: center;
        width: 704px;
        height: 228px;
    }

    #main_button_boxes {
        flex-wrap: wrap;
        max-width: 704px;
    }

    #forms_conteiner {
        display: flex;
        flex-direction: column;
        flex-flow: column-reverse;
    }

    #avatar_info_box{
        width: 672px;
    }

    #location_box{
        width: 672px;
    }

    #about_box{
        width: 672px;
    }

     #loc_div{
        width: 642px;
        justify-content: space-between;
     }
   

}